# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Data files
artifacts/
results/
*.csv
*.json
*.arrow
*.txt

# Model files
*.safetensors
*.bin
*.h5
*.ckpt
*.pt
*.pth

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo